<div id="welcome">
  <h2>Welcome to Recipery List</h2>
  <p>
    Your one-stop shop for weekly (or bi-weekly, or daily, it's up to you!)
    automated meal planning.
  </p>
  <p>
    To get started, simply upload or add a few recipes to your favorites and let
    us do the rest!
  </p>

  <div id="carousel">
    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex justify-content-center">
            <img
              class="d-block w-80"
              src="https://images.pexels.com/photos/5907903/pexels-photo-5907903.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="First slide"
            />
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <img
              class="d-block w-80"
              src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="Second slide"
            />
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <img
              class="d-block w-80"
              src="https://images.pexels.com/photos/3184183/pexels-photo-3184183.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="Third slide"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
