<div *ngIf="user" class="container center top">
  <h3>Sign up</h3>

  <input
    class="text"
    type="text"
    name="username"
    placeholder="Username"
    [(ngModel)]="user.username"
  />
  <br />
  <input
    class="text"
    type="password"
    name="password"
    placeholder="Password"
    [(ngModel)]="user.password"
  />
  <br />
  <input
  class="text"
  type="password"
  name="confirm"
  placeholder="Confirm password"
  [(ngModel)]="confirmPassword"
  />
  <label for="confirm" *ngIf="!passwordMatch" class="warning">Passwords do not match</label>
  <br/>
  <button (click)="register(user)" class="btn">Submit</button>
  <br />
  <label for="signUp">Have an account? </label>
  <p> </p>
  <a class="signUp" name="signUp" (click)="initializeSignIn()">Sign in</a>
</div>

<br />

<div *ngIf="!user && logInUser" class="container center">
  <h3>Sign In</h3>
  <input
    class="text"
    type="text"
    name="username"
    placeholder="Username"
    [(ngModel)]="logInUser.username"
  />
  <br />
  <input
    class="text"
    type="password"
    name="password"
    placeholder="Password"
    [(ngModel)]="logInUser.password"
  />
  <label class="warning" for="password" *ngIf="loginFailure">Invalid username or password</label>
  <br />
  <button (click)="logIn(logInUser.username, logInUser.password)" class="btn">
    Submit
  </button>
  <br>
  <label for="signUp">Don't have an account? </label>
  <p> </p>
  <a class="signUp" name="signUp" (click)="initializeSignUp()">Sign up</a>
</div>
