.d-flex{
  height:200px;
}

.center{
  background: #173F4E;
  border: 3px solid black;
  color: white;

  margin:auto;

  width: 55%;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.top {
  margin-top: 20px;
}

.text {
  width:90%;
}



.btn {
  padding: 5px !important;
  margin: 5px !important;
}

p {
  margin:1px !important
}
