img {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.img-holder {
  justify-content: center;
}


.search {
  justify-content: right;
  text-align: right;
}


.grid-container {
  grid-template-columns: repeat(auto-fit, 45%) !important;
}



.button-container {
  justify-content: center;
  text-align: center;
}
