<div class="row">
  <div class="col">
    <button *ngIf="!makeMealPlan" class="btn" (click)="makeMealPlan = true">Generate Meal Plan</button>
    <div *ngIf="makeMealPlan" class="form-group mx-sm-3 mb-2">
      <label for="days">Number of meals:</label>
      <input class="text" type="number" name="days" [(ngModel)]="numMeals" />
      <button class="btn" (click)="generateMealPlan(numMeals)">Submit</button>
      <button class="btn" (click)="makeMealPlan = false">Cancel</button>
      <br>
      <label *ngIf="notEnoughFavorites" class="warning" for="days">Add some more recipes to your favorites!</label>

    </div>
  </div>

  <div *ngIf="!makeMealPlan" class="col search">
    <input
      class="text"
      type="text"
      name="search"
      [(ngModel)]="userSearchTerm"
    />
    <button  class="btn" (click)="search(userSearchTerm)">Search</button>
  </div>
</div>



<div *ngIf="mealPlan">
  <h3>Your Meals</h3>
  <ul>
    <li *ngFor="let recipe of mealPlan">{{ recipe.name }}</li>
  </ul>

  <h3>Grocery List</h3>
  <ul>
    <div *ngFor="let recipe of mealPlan">
      <li *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.ingredient.name }}
      </li>
    </div>
  </ul>
  <h4>*Note: If you leave this page your meal plan and grocery list will be lost</h4>
</div>


<div class="grid-container" *ngIf="!mealPlan && user && !selected">
  <div class="grid-item" *ngFor="let recipe of favorites">
    <div class="image-holder" (click)="selectRecipe(recipe)">
      <img *ngIf="recipe.imageUrl" src="{{ recipe.imageUrl }}" alt="" />
      <img
        *ngIf="!recipe.imageUrl"
        src="https://www.pfchangs.com/images/default-source/menu/main-entres/buddhasfeaststirfried-1200x80012282b6c-8d11-4409-9188-fb5b5a56855e.jpg?sfvrsn=cef36ae0_3"
        alt=""
      />
      <br />
      <h4>{{ recipe.name }}</h4>
    </div>
  </div>
</div>

<div class="container" *ngIf="selected">
  <img *ngIf="selected.imageUrl" src="{{ selected.imageUrl }}" alt="" />
  <img
    *ngIf="!selected.imageUrl"
    src="https://www.pfchangs.com/images/default-source/menu/main-entres/buddhasfeaststirfried-1200x80012282b6c-8d11-4409-9188-fb5b5a56855e.jpg?sfvrsn=cef36ae0_3"
    alt=""
  />
  <h3>{{ selected.name }}</h3>
  <ul>
    <li *ngFor="let recipeIngredient of selected.ingredients">
      {{ recipeIngredient.amount }} {{ recipeIngredient.ingredient.name }}
    </li>
  </ul>
  <div *ngFor="let instruction of selected.instructions; let i = index">
    <p>{{ i + 1 }}. {{ instruction.description }}</p>
  </div>



  <button
    class="btn"
    *ngIf="user && checkIfRecipeInFavorites(selected)"
    (click)="removeFromFavorites(user.id, selected.id)"
  >
    Remove from favorites
  </button>
  <button
    class="btn"
    *ngIf="user && !checkIfRecipeInFavorites(selected)"
    (click)="addToFavorites(user.id, selected.id)"
  >
    Add to favorites!
  </button>
  <button class="btn" (click)="selected = null">Back</button>
</div>
