nav {
  background-color: #173F4E !important;
  color: white !important;
}

div {
  background-color: #173F4E !important;
  color: white;
}

a {
  padding: 6px !important;
  color: white;
}

.nav-link {
  color: white !important;
  margin: 3px;
}

.right{
  margin-right: 5px;
  margin-left: auto;
}


