<button class="btn btn-primary" (click)="initializeNewRecipe()">
  Add New Recipe
</button>




<div class="grid-container" *ngIf="!newRecipe && !selected">
  <div class="grid-item" *ngFor="let recipe of recipes">
    <div (click)="selectRecipe(recipe)">

      <img *ngIf="recipe.imageUrl" src="{{recipe.imageUrl}}" alt="">
      <img *ngIf="!recipe.imageUrl"
        src="https://www.pfchangs.com/images/default-source/menu/main-entres/buddhasfeaststirfried-1200x80012282b6c-8d11-4409-9188-fb5b5a56855e.jpg?sfvrsn=cef36ae0_3"
        alt=""
      />
      <br>
      <h4>{{recipe.name}}</h4>
    </div>
  </div>
</div>

<div *ngIf="selected">
  <h3>{{ selected.name }}</h3>
  <ul>
    <li *ngFor="let recipeIngredient of selected.ingredients">
      {{ recipeIngredient.amount }} {{ recipeIngredient.ingredient.name }}
    </li>
  </ul>
  <div *ngFor="let instruction of selected.instructions">
    <p>
      {{ instruction.description }}
    </p>
  </div>

  <button
    class="btn"
    *ngIf="user && checkIfRecipeInFavorites(selected)"
    (click)="removeFromFavorites(user.id, selected.id)"
  >
    Remove from favorites
  </button>
  <button
    class="btn"
    *ngIf="user && !checkIfRecipeInFavorites(selected)"
    (click)="addToFavorites(user.id, selected.id)"
  >
    Add to favorites!
  </button>
  <button class="btn" (click)="selected = null">Back</button>
</div>

<div *ngIf="newRecipe">
  <label for="name">Name:</label>
  <input type="text" name="name" [(ngModel)]="newRecipe.name" />
  <br />
  <label for="description">Description:</label>
  <br />
  <textarea
    name="description"
    [(ngModel)]="newRecipe.description"
    cols="30"
    rows="10"
  ></textarea>

  <h3>Ingredients</h3>
  <div *ngFor="let ingredient of newRecipe.ingredients">
    <div>
      <label for="name">Ingredient:</label>
      <input
        type="text"
        list="suggestions"
        [(ngModel)]="ingredient.ingredient.name"
      />
      <datalist id="suggestions">
        <div *ngFor="let ing of ingredients">
          <option name="name">{{ ing.name }}</option>
        </div>
      </datalist>
    </div>
    <label for="amount">Amount:</label>
    <input type="text" name="amount" [(ngModel)]="ingredient.amount" />
    <button class="btn" (click)="removeIngredientFromRecipe(ingredient)">Delete</button>
  </div>
  <button class="btn" (click)="addNewIngredientToRecipe()">Add Ingredient</button>

  <h3>Instructions</h3>
  <div *ngFor="let instruction of newRecipe.instructions; let i = index">
    <label for="description">Step {{ i + 1 }} </label>
    <br />
    <textarea
      name="description"
      cols="30"
      rows="10"
      [(ngModel)]="instruction.description"
    ></textarea>
    <button class="btn" (click)="removeInstructionFromRecipe(instruction)">Delete</button>
  </div>

  <button class="btn" (click)="addNewInstructionToRecipe()">Add Step</button>

  <label>
    <input type="file" name="fileUpload" (change)="onFileSelect($event)" />
  </label>

  <button class="btn" (click)="create(newRecipe)">Submit</button>
</div>
