<div class="row">
  <div class="col">
    <button
      *ngIf="!editRecipe && !newRecipe && !selected"
      class="btn btn-primary"
      (click)="initializeNewRecipe()"
    >
      Upload New Recipe
    </button>
  </div>

  <div class="col search">
    <input
      class="text"
      type="text"
      name="search"
      [(ngModel)]="userSearchTerm"
    />
    <button class="btn" (click)="search(userSearchTerm)">Search</button>
  </div>
</div>

<div class="grid-container" *ngIf="!newRecipe && !selected && !editRecipe">
  <div class="grid-item" *ngFor="let recipe of recipes">
    <div class="image-holder" (click)="selectRecipe(recipe)">
      <img *ngIf="recipe.imageUrl" src="{{ recipe.imageUrl }}" alt="" />
      <img
        *ngIf="!recipe.imageUrl"
        src="https://www.pfchangs.com/images/default-source/menu/main-entres/buddhasfeaststirfried-1200x80012282b6c-8d11-4409-9188-fb5b5a56855e.jpg?sfvrsn=cef36ae0_3"
        alt=""
      />
      <br />
      <h4>{{ recipe.name }}</h4>
    </div>
  </div>
</div>

<div class="container" *ngIf="editRecipe">
  <label for="name">Name:</label>
  <input class="text" type="text" name="name" [(ngModel)]="editRecipe.name" />
  <br />

  <label for="fileUpload">Image:</label>
  <input
    #fileUploadBox
    class="text"
    type="file"
    name="fileUpload"
    (change)="onFileSelect($event, editRecipe)"
  />

  <br *ngIf="fileTooLarge" />
  <label *ngIf="fileTooLarge" for="fileUpload" class="warning"
    >Image size must be 250kb or less</label
  >
  <br />
  <label for="description">Description:</label>
  <br />
  <textarea
    class="text text-area"
    name="description"
    [(ngModel)]="editRecipe.description"
    cols="30"
    rows="10"
  ></textarea>

  <h3>Ingredients</h3>
  <div *ngFor="let ingredient of editRecipe.ingredients">
    <div>
      <label for="name">Ingredient:</label>
      <input
        class="text"
        type="text"
        list="suggestions"
        [(ngModel)]="ingredient.ingredient.name"
      />

      <datalist id="suggestions">
        <div *ngFor="let ing of ingredients">
          <option name="name">{{ ing.name }}</option>
        </div>
      </datalist>
    </div>
    <label for="amount">Amount:</label>
    <input
      class="text"
      type="text"
      name="amount"
      [(ngModel)]="ingredient.amount"
    />
    <button
      class="btn danger"
      (click)="removeIngredientFromRecipe(ingredient, editRecipe)"
    >
      X
    </button>
  </div>
  <button class="btn" (click)="addNewIngredientToRecipe(editRecipe)">
    Add Ingredient
  </button>

  <h3>Instructions</h3>
  <div *ngFor="let instruction of editRecipe.instructions; let i = index">
    <label for="description">Step {{ i + 1 }} </label>
    <br />
    <textarea
      class="text text-area"
      name="description"
      cols="30"
      rows="10"
      [(ngModel)]="instruction.description"
    ></textarea>
    <button
      class="btn danger"
      (click)="removeInstructionFromRecipe(instruction, editRecipe)"
    >
      X
    </button>
  </div>

  <button class="btn" (click)="addNewInstructionToRecipe(editRecipe)">
    Add Step
  </button>
  <br />

  <button class="btn" (click)="edit(editRecipe)">Submit</button>
  <button class="btn" (click)="editRecipe = null">Cancel</button>
</div>

<div class="container" *ngIf="selected">
  <img *ngIf="selected.imageUrl" src="{{ selected.imageUrl }}" alt="" />
  <img
    *ngIf="!selected.imageUrl"
    src="https://www.pfchangs.com/images/default-source/menu/main-entres/buddhasfeaststirfried-1200x80012282b6c-8d11-4409-9188-fb5b5a56855e.jpg?sfvrsn=cef36ae0_3"
    alt=""
  />
  <h3>{{ selected.name }}</h3>
  <ul>
    <li *ngFor="let recipeIngredient of selected.ingredients">
      {{ recipeIngredient.amount }} {{ recipeIngredient.ingredient.name }}
    </li>
  </ul>
  <div *ngFor="let instruction of selected.instructions; let i = index">
    <p>{{ i + 1 }}. {{ instruction.description }}</p>
  </div>

  <button
    class="btn"
    *ngIf="user && user.id === selected.user.id"
    (click)="selectRecipeToEdit(selected)"
  >
    Edit
  </button>

  <button
    class="btn"
    *ngIf="user && checkIfRecipeInFavorites(selected)"
    (click)="removeFromFavorites(user.id, selected.id)"
  >
    Remove from favorites
  </button>
  <button
    class="btn"
    *ngIf="user && !checkIfRecipeInFavorites(selected)"
    (click)="addToFavorites(user.id, selected.id)"
  >
    Add to favorites!
  </button>
  <button class="btn" (click)="selected = null">Back</button>
</div>

<div class="container" *ngIf="newRecipe">
  <label for="name">Name:</label>
  <input class="text" type="text" name="name" [(ngModel)]="newRecipe.name" />
  <br />

  <label>
    Image:
    <input
      class="text"
      type="file"
      name="fileUpload"
      (change)="onFileSelect($event, newRecipe)"
    />
  </label>
  <br *ngIf="fileTooLarge" />
  <label *ngIf="fileTooLarge" for="fileUpload" class="warning"
    >Image size must be 250kb or less</label
  >

  <br />
  <label for="description">Description:</label>
  <br />
  <textarea
    class="text text-area"
    name="description"
    [(ngModel)]="newRecipe.description"
    cols="30"
    rows="10"
  ></textarea>

  <h3>Ingredients</h3>
  <div *ngFor="let ingredient of newRecipe.ingredients">
    <div>
      <label for="name">Ingredient:</label>
      <input
        class="text"
        type="text"
        list="suggestions"
        [(ngModel)]="ingredient.ingredient.name"
      />

      <datalist id="suggestions">
        <div *ngFor="let ing of ingredients">
          <option name="name">{{ ing.name }}</option>
        </div>
      </datalist>
    </div>
    <label for="amount">Amount:</label>
    <input
      class="text"
      type="text"
      name="amount"
      [(ngModel)]="ingredient.amount"
    />
    <button
      class="btn danger"
      (click)="removeIngredientFromRecipe(ingredient, newRecipe)"
    >
      X
    </button>
  </div>
  <button class="btn" (click)="addNewIngredientToRecipe(newRecipe)">
    Add Ingredient
  </button>

  <h3>Instructions</h3>
  <div *ngFor="let instruction of newRecipe.instructions; let i = index">
    <label for="description">Step {{ i + 1 }} </label>
    <br />
    <textarea
      class="text text-area"
      name="description"
      cols="30"
      rows="10"
      [(ngModel)]="instruction.description"
    ></textarea>
    <button
      class="btn danger"
      (click)="removeInstructionFromRecipe(instruction, newRecipe)"
    >
      X
    </button>
  </div>

  <button class="btn" (click)="addNewInstructionToRecipe(newRecipe)">
    Add Step
  </button>
  <br />

  <button class="btn" (click)="newRecipe = null">Cancel</button>
  <button class="btn" (click)="create(newRecipe)">Submit</button>
</div>
