<button class="btn btn-primary" (click)="initializeNewRecipe()">
  Add New Recipe
</button>

<div class="grid-container" *ngIf="!newRecipe">
  <div class="grid-item" *ngFor="let recipe of recipes">
    <h3>{{ recipe.name }}</h3>
  </div>
</div>

<div *ngIf="newRecipe">
  <label for="name">Name:</label>
  <input type="text" name="name" [(ngModel)]="newRecipe.name" />
  <br />
  <label for="description">Description:</label>
  <br />
  <textarea
    name="description"
    [(ngModel)]="newRecipe.description"
    cols="30"
    rows="10"
  ></textarea>

  <h3>Ingredients</h3>
  <div *ngFor="let ingredient of newRecipe.ingredients">


    <div>
      <label for="name">Ingredient:</label>
      <input type="text" list="suggestions" [(ngModel)]="ingredient.ingredient.name">
      <datalist id="suggestions">
        <div *ngFor="let ing of ingredients">
          <option name="name">{{ing.name}}</option>
        </div>
      </datalist>

  </div>
    <label for="amount">Amount:</label>
    <input type="text" name="amount" [(ngModel)]="ingredient.amount" />
  </div>
  <button (click)="addNewIngredientToRecipe()">Add Ingredient</button>



  <h3>Instructions</h3>
  <div *ngFor="let instruction of newRecipe.instructions; let i = index">
    <label for="description">Step {{ i + 1 }} </label>
    <br />
    <textarea
      name="description"
      cols="30"
      rows="10"
      [(ngModel)]="instruction.description"
    ></textarea>
  </div>
  <button (click)="addNewInstructionToRecipe()">Add Step</button>

  <button (click)="create(newRecipe)">Submit</button>
</div>
