img {
  width: 100%;
  max-width: 500px;
  height: auto;

}

#ingAmount {
  width: 50px;
}

.img-holder {
  justify-content: center;
}


.search {
  justify-content: right;
  text-align: right;
}

.measurementsInput {
  width: 20%;
  max-width: 75px;
}


